vti_encoding:SR|utf8-nl
http\://member.linkexchange.com/cgi-bin/fc/fastcounter-login:home.htm
http\://www.lpage.com/wgb/wgbview.dbm:comments.html
http\://www.massey.ac.nz/~wwifs/nmr/index.html:joe.html
mailto\:eiichi@nmr.org:menu.htm nmrpeople.htm comments.html
backfun.jpg:home.htm homeold.htm
/d\:/nmrweb/myweb/chilis_a.gif:homeold.htm
http\://www.lpage.com/wgb/wgb.dbm:comments.html
mailto\:loeppky@unm.edu:nmrpeople.htm comments.html
http\://wwwsoc.nacsis.ac.jp/jmrm/index.html:links.html
line_a.gif:home.htm homeold.htm
/index.htm:eiichis.htm
mailto\:efukushi@nmr.org:eiichis.htm
mailto\:arvind@nmr.org:nmrpeople.htm comments.html
real/publications.html:page21.htm
http\://www.ksu.ru/base_en/departments/physics/molphys/mp_homepage.html:links.html
guestbook.gif:comments.html
mailto\:cfmclewett@nmr.org:nmrpeople.htm
mailto\:sbeyea@nmr.org:comments.html
http\://fastcounter.linkexchange.com/fastcounter:home.htm
real/home.htm:page21.htm
/j\:/arvind/cordiff/fig1nmr.jpg:corrnm1.doc
mailto\:jseymour@nmr.org:nmrpeople.htm joe.html comments.html
http\://www.fastcounter.com/fc-join:home.htm
/j\:/arvind/cordiff/fig2nmr.jpg:corrnm1.doc
mailto\:sbeyea@pop.lrri.org:nmrpeople.htm
/page10.htm:eiichis.htm
http\://micro.ifas.ufl.edu/meetings.html:links.html
chilis_a.gif:home.htm
/page5.htm:eiichis.htm
publication.gif:publications.html
http\://www.uni-ulm.de/uni/fak/natwis/nmr/nmrhp.html:joe.html
http\://www.unm.edu/~karenann:links.html
http\://www.nmrnewsletter.com:links.html
eiichi.jpg:eiichi.htm
page20.htm:page21.htm
real/journal.htm:page21.htm
/page20.htm:talks.htm
group124.jpg:secret.html
mailto\: cfmclewett@nmr.org:comments.html
/home.html:talks.htm
mailto\:salto@nmr.org:nmrpeople.htm comments.html
mailto\:kendra@nmr.org:nmrpeople.htm comments.html
/../alto/graphics/images/nm resonance/nmr1.jpg:index__fromsite.html index.htm index.html
http\://www.sdsnmr.com:links.html
mailto\:dkuethe@nmr.org:nmrpeople.htm comments.html
http\://www.antarcticanz.govt.nz:joe.html
http\://www.meiji-u.ac.jp/mr/index-e.html:links.html
